@font-face{
    font-family: 'lmSans-bold';
    src: url('lmsans10-bold-webfont.woff');
  }

  @font-face {
    font-family: 'fontello';
    src: url('fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body{
    color: rgb(61, 61, 61);
    font-family: lmSans-bold,sans-serif;
    font-size: 16px;
}
img {
    height: 100%;
    width: auto;
    margin-left: 50%;
    transform: translate(-50%,0);
}

button {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background: green;
}

#bgVideo {
    position: fixed;
    right: -10vw;
    bottom: -10vh;
    min-width: 120vw;
    min-height: 120vh;
}

.kazoosh-logo{
    position: absolute;
    background-image: url("kazoosh_logo.png");
    background-size: cover;
    opacity: 0.5;

    bottom: 0vh;
    right: 1.5vh;
    width: 10vw;
    height: 10vh;
}

.content {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#phaseLogo{
    margin-top: 10vh;
    height: 50vh;
}

.start-title {
    display: block;
    text-align: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 8rem;
}

.start-text {
    display: block;
    text-align: center;
    padding: 1.3rem;
    font-size: 4rem;
    animation: start-text-blink 1s ease-in-out infinite;
    opacity: 1;
}

.circle-border{
    width: 1.5rem;
    height: 1.5rem;
    padding : 0.4rem 2rem 1.1rem 0.3rem;
    
    border: 0.4rem solid  rgb(61, 61, 61);
    border-radius: 50%;
}

.intro-title {
    display: block;
    text-align: center;
    margin-top: 20vh;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 8rem;
}

@keyframes start-text-blink {
    0% {
      opacity: 1;
    }
  
    30% {
      opacity: 0;
    }
    40%{
        opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }

.intro-text {
    display: block;
    text-align: center;
    padding: 1.3rem;
    font-size: 4rem;
}
.movie-title {
    position: fixed;
    text-align: center;
    padding-top: 25vh;
    font-size: 8rem;
    width: 100%;

}
.countdown-container{
    margin-top: 10vh;
}
#countdown {
    position: fixed;
    margin-top: -5vh;
    text-align: center;
    font-size: 60vh;
    line-height: 68vh;
    color: rgba(255, 255, 255, 0.8);
    
    width: 80vh;
    height: 80vh;
    margin-left: 50%;

    transform: translate(-50%,0);
    
    border: 60px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border-style: double;

    animation: countdown-text-blink 1s ease-in-out infinite;
}

@keyframes countdown-text-blink {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85% {
        opacity: 1;
      }
  
    100% {
      opacity: 1;
    }
  }

.countdown-line {
    position: absolute;
    width: 0rem;
    height: 40vh;
    margin-left: 50%;
    margin-top: 40vh;

    transform-origin: top left;
    transform: translate(-50%,0);
    
    border: 2px solid rgb(104, 104, 104,0.8);
    animation: rotation 1s infinite linear;
    animation-delay: 0.5s;

}
.countdown-cross-horizontal{
    display: block;
    
    position: absolute;
    width: 100%;
    height: 0;
    top:50vh;

    
    
    border: 2px solid rgb(104, 104, 104,0.8);
}

.countdown-cross-vertical{
    display: block;
    
    position: absolute;
    width: 0;
    height: 100%;
    top:0;
    left:50%;
    
    
    border: 2px solid rgb(104, 104, 104,0.8);
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

.movie-title-small {
    display: block;
    text-align: center;
    padding: 4rem;
    font-size: 3rem;
}    
.images {
    margin-top: 15vh;
    display: flex;
    height: 60vh;
    width: 92vw;
    margin-left: 4vw;
}
.image{
    margin: 2vw;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-blend-mode: saturation;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.imageFadeout{
    background-color : rgb(160,160,160,0.8);
}
.imageHighlightP1{
    box-shadow: 0px 0px 20px 20px rgba(189, 30, 2, 0.7)
}
.imageHighlightP2{
    box-shadow: 0px 0px 20px 20px rgba(2, 57, 177, 0.7)
}

.points{
    position: absolute;
    width: 100%;
    height: 30px;
    background: grey;
    color:white;
    bottom:0;
    display:flex;
}
.points_player {
    flex:1;
}

.score{
    display: block;
    text-align: center;
    line-height: 50rem;
    font-size: 40rem;
}

.winner-logo{
    position: fixed;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    font-size: 57vh;
    line-height: 70vh;
    animation: start-text-blink 1s ease-in-out infinite;
    opacity: 1;
}

.winner-top{
    margin-top: 5vh;
    position: fixed;
    width: 100%;
    font-size: 6rem;
    text-align: center;
}
.winner-bottom{
    position: fixed;
    width: 100%;
    margin-top: 75vh;
    font-size: 6rem;
    text-align: center;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-user-pair:before { content: '\e800'; } /* '' */
  .icon-award:before { content: '\e801'; } /* '' */